#nav-bar{
    background-color: #57BAAB;
    height: 630px;
    width: 200px;
    margin: 0;
    position: fixed;
    max-height: 100%;
}
#logo{
    margin-left: 25%;
    margin-top: 13%;
}
.nav-list-dashboard{
    margin-left:20px;
    margin-top: 75px;
    background-color: white;
    border-radius: 20px;
    float: left;
    padding: 8px;
}
#dashboard{
    color: #322B63;
    margin-left: 35px;
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100px;
    height: 0px;
    padding: 0px;

}
.dashboard-icon{
    width: 14px;
    margin-left: 10px;
    margin-top: 5px;
    float:left;
    

}


.nav-list-classess{
    margin-left:20px;
    margin-top: 25px;
    border-radius: 20px;
    float: left;
    padding: 8px;
}
#classess{
    color: #322B63;
    margin-left: 25px;
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100px;
    height: 0px;
    padding: 0px;

}
#classess:hover{
    color: white;
}
.class-icon{
    width: 14px;
    margin-left: 5px;
    margin-top: 5px;
    float:left;
    

}



.nav-list-exercises{
    margin-left:20px;
    margin-top: 25px;
    border-radius: 20px;
    float: left;
    padding: 8px;
}
#exercises{
    color: #322B63;
    margin-left: 25px;
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100px;
    height: 0px;
    padding: 0px;

}
#exercises:hover{
    color: white;
}
.exercises-icon{
    width: 14px;
    margin-left: 5px;
    margin-top: 5px;
    float:left;
    

}



.nav-list-books{
    margin-left:20px;
    margin-top: 25px;
    border-radius: 20px;
    float: left;
    padding: 8px;
}
#books{
    color: #322B63;
    margin-left: 35px;
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100px;
    height: 0px;
    padding: 0px;

}
#books:hover{
    color: white;
}
.books-icon{
    width: 14px;
    margin-left: 5px;
    margin-top: 5px;
    float:left;
    

}



.nav-list-calendar{
    margin-left:20px;
    margin-top: 25px;
    border-radius: 20px;
    float: left;
    padding: 8px;
}
#calendar{
    color: #322B63;
    margin-left: 35px;
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100px;
    height: 0px;
    padding: 0px;

}
#calendar:hover{
    color: white;
}
.calendar-icon{
    width: 14px;
    margin-left: 5px;
    margin-top: 5px;
    float:left;
}



.nav-list-settings{
    margin-left:20px;
    margin-top: 25px;
    border-radius: 20px;
    float: left;
    padding: 8px;
}
#settings{
    color: #322B63;
    margin-left: 35px;
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100px;
    height: 0px;
    padding: 0px;

}
#settings:hover{
    color: white;
}
.settings-icon{
    width: 14px;
    margin-left: 5px;
    margin-top: 5px;
    float:left;
}